{% extends 'base.html' %}

{% block content %}
<form action="{% url 'plot_detail' plot.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <legend><h1><input name="plot_name" placeholder="{{ plot.plot_name }}"></h1></legend>
    </div>
    <p class="text-md-left">更新时间：{{ plot.updated_at }}</p>
    <div class="form-group">
        <label class="text-md">{{ plot.template.template_name }}</label>
    </div>
    <div class="form-group">
        <label class="text-md">{{ plot.template.regex_str }}</label>
    </div>
</form>
</br>
<img src='data:image/png;base64,{{img_data}}'/>
{% endblock %}