{% extends 'base.html' %}

{% block content %}

<form action="{% url 'plot_detail' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{ form.plot_name }}
        {% if plot_instance is not None %}
        <p class="text-md-left">id={{ plot_instance.id }}</p>
        {% endif %}
    </div>

    {% if plot_instance is not None %}
    <div class="form-group">
        <label class="text-md-left">更新时间：{{ plot_instance.updated_at }}</label>
    {% endif %}

    {% if figure_data is not None %}
    <div class="form-group">
        <img src='data:img/png;base64,{{figure_data}}' class="img-fluid"/>
    </div>
    {% endif %}

    <div class="form-group">
        {{ form.data_file }}
    </div>
    <input type="submit" value="创建/更新">
</form>

{% if plot_instance is not None %}
<form action="{% url 'plot_delete' plot_instance.id %}" method="DELETE">
    <input type="submit" value="删除" class="btn btn-danger">
</form>
{% endif %}
{% endblock %}