{% extends 'base.html' %}


{% block content %}
{% if latest_plots %}
    <ul>
    {% for plot in latest_plots %}
        <li><a href="/log_plotter/plot/{{ plot.id }}/">{{ plot.id }} -- {{ plot.plot_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>没有可用的图表</p>
{% endif %}

<form action="{% url 'plot_detail' %}" method="GET" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" value="新建">
</form>
{% endblock %}