{% extends 'base.html' %}

{% block content %}
{% if figure_data is not None %}
<img src='data:img/png;base64,{{figure_data}}' class="img-fluid"/>
{% endif %}
<form action="{% url 'plot_simple' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{ form.file }}
    </div>
    <input type="submit" value="绘制">
</form>
{% endblock %}