{% extends 'base.html' %}

{% block content %}
<form action="{% url 'template_index' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
    <legend><h1><input name="template_name" value="未命名模板"></h1></legend>
    </div>
    <div class="form-group">
        <label for="template_regex">正则表达式</label>
        <textarea name="regex_str" class="form-control" id="template_regex" required></textarea>
    </div>
    <div class="form-group">
        <label for="template_test_str">测试字符串</label>
        <textarea name="test_str" class="form-control" id="template_test_str" required></textarea>
    </div>
    <input type="submit" value="创建">
</form>
{% endblock%}