{% extends 'base.html' %}

{% block content %}
<form action="{% url 'template_detail' template.id %}" method="put">
    {% csrf_token %}
    <div class="form-group">
    <legend><h1><input name="template_name" value="{{ template.template_name }}"></h1></legend>
    </div>
    <p class="text-md-left">更新时间：{{ template.updated_at }}</p>
    <div class="form-group">
        <label for="template_regex">正则表达式</label>
        <textarea name="regex_str" class="form-control" id="template_regex" required>{{ template.regex_str }}</textarea>
    </div>
    <div class="form-group">
        <label for="template_test_str">测试字符串</label>
        <textarea name="test_str" class="form-control" id="template_test_str" required>{{ template.default_test_str }}</textarea>
    </div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="form-group">
        {% if matches is not None %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">捕获名</th>
                        <th scope="col">捕获值</th>
                        <th scope="col">类型</th>
                    </tr>
                </thead>
                <tbody>
                {% for match, val in matches %}
                    <tr>
                        <td>{{ match }}</td>
                        <td>{{ val }}</td>
                        <td>
                            <select name="capture-{{ match }}" class="form-select">
                                {% for vt in value_types %}
                                <option value={{ vt }} >{{ vt }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <input type="submit" value="保存">
</form>
{% endblock %}