{% extends 'base.html' %}

{% block content %}
{% if latest_templates %}
    <ul>
        {% for template in latest_templates %}
        <li><a href="/log_plotter/template/{{ template.id }}/">{{ template.template_name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>没有可用的模板</p>
{% endif %}
<form action="{% url 'template_index' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="创建">
</form>
{% endblock%}