{% extends 'django_bootstrap5/bootstrap5.html' %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block bootstrap5_title %}
{% block title %}
{% endblock %}
{% endblock %}

{% block bootstrap5_content %}
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">主页</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'plot_index' %}">图表</a></li>
            {% comment %}
            <li class="nav-item"><a class="nav-link" href="{% url 'template_index' %}">模板</a></li>
            {% endcomment %}
            <li class="nav-item"><a class="nav-link" href="{% url 'help' %}">帮助</a></li>
            {% comment %}
            <li class="nav-item"><a class="nav-link" href="{% url 'form_by_field' %}">form_by_field</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'form_horizontal' %}">form_horizontal</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'form_inline' %}">form_inline</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'form_with_files' %}">form_with_files</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'pagination' %}">pagination</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'misc' %}">miscellaneous</a></li>
            {% endcomment %}
        </ul>

        {% autoescape off %}
        {% bootstrap_messages %}
        {% endautoescape %}

        {% block content %}{% endblock %}
    </div>

{% endblock %}